node_modules/
.git/
coverage/

.dockerignore
Dockerfile

.gitignore
.env
.eslintrc
.editorconfig
.gitlab-ci.yml

__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
dist
htmlcov
env
venv
test
tests
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.idea
coverage.xml
*,cover
*.log
*.egg-info
